<div id="container">
    <div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a></li>
								<li><a href="/sanpham">Sản phẩm</a></li>
								<li><a href="#">Blog</a></li>
								{{!-- <li>
									@guest
										<a href="#">Thành viên</a>
									@else
										<a href="#">{{ Auth::user()->name }}</a>
									@endguest
									<ul class="sub-menu">
										@guest
											<li><a href="/login">Đăng nhập</a></li>
											<li><a href="/register">Đăng ký</a></li>
										@else
											<li><a href="/profile">Thông tin</a></li>
											<li><a href="/thoat">Đăng xuất</a></li>
										@endguest
									</ul>
								</li> --}}
								<li><a href="/lienhe">Liên hệ</a></li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>